@import "modules/reset";
@import "modules/variables";
@import "modules/grid";
@import "modules/layout";
@import "modules/utilities";

.heading {
  border-bottom: 1px solid rgba(0,0,0,.15);
  color: $brand-primary;
  margin: 1em auto;
  padding-bottom: 1em;

  h1 + .lead {
    color: $text-secondary;
    margin-top: .2em;
  }
}

.content {
  min-height: 300px;
}

.option {
  margin: 1em auto;

  h5 {
    margin-bottom: 1em;
  }

  .radio-group {
    label {
      display: block;
    }

    input[type="radio"] {
      display: inline-block;
      margin: 3px 5px;
    }
  }
}
